body {
	font-size: 13px;
	font-family: Arial;
	letter-spacing: -1px;
	background: url(img/bg.png);
}
* {
	box-sizing: border-box;
}
.conteiner {
	/*border: 1px solid red;*/
	position: absolute;
	width: 710px;
	height: 710px;
	padding: 100px 125px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.form {
	border: 1px solid blue;
	width: 400px;
	height: 461px;
	background-color: #fbfdfd;
	padding: 0 36px;
	margin: 25px auto;
}
.btn_1, .btn_2 {
	border: none;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #01b3b3;
}
.btn_1 {
	font-size: 13px;
	width: 186px;
	height: 28px;
}
.btn_2 {
	margin-top: 33px;
	font-size: 18px;
	width: 328px;
	height: 57px;
}
.str {
	border: none;
	font-size: 15px;
	font-style: italic;
	padding-left: 15px;
	margin-top: 15px;
	width: 328px;
	height: 45px;
}
.form p {
	font-size: 15px;
	font-weight: 900;
	color: #7c7c7c;
}
.text {
	color: #8cd3d3;
}
.name {
	padding-top: 15px;
}
form {
	margin-top: 17px;
}