* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
.btn1:hover {
  text-decoration: none;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/Layer2.png) center center no-repeat;
  background-size: cover;
  padding: 2rem 8rem;
}
.content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 2.4rem;
  animation-delay: 0.5s;
}
.tab {
  border: 2.5rem solid #03a5da;
  background-color: #03a5da;
  border-radius: 8px;
  color: #ffffff;
}
form {
  padding: 8rem 4rem 1.5rem 4rem;
  background-color: #000000;
  border-radius: 8px;
}
p {
  font-size: 15px;
  color: #bc1d03;
  animation-delay: 3.3s;
}
.entrance {
  display: block;
  margin-bottom: 3rem;
  width: 100%;
  color: #ffffff;
  background-color: #1e1d1d;
  padding: 2.5rem;
  border: none;
  border-radius: 8px;
}
.name {
  animation-delay: 1.2s;
}
.pasword {
  animation-delay: 2.2s;
}
.reg {
  display: block;
  margin-bottom: 1.9rem;
  width: 100%;
  color: #ffffff;
  background-color: #1e1d1d;
  padding: 2.5rem;
  border: none;
  border-radius: 8px;
}
input::-webkit-input-placeholder {
  color: #ffffff;
}
input:-ms-input-placeholder {
  color: #ffffff;
}
input::-ms-input-placeholder {
  color: #ffffff;
}
input::placeholder {
  color: #ffffff;
}
.btn1 {
  color: #ffffff;
  background-color: #bc1d03;
  font-size: 24px;
  padding: 1.2rem 3rem;
  border: none;
  animation-delay: 4.2s;
}
span {
  font-size: 15px;
  color: #4e4c4c;
  text-align: left;
}
.check, span {
  animation-delay: 4.2s;
}
.one,
.two {
  margin-left: 1rem;
  background-color: #03a5da;
  border: none;
  border-radius: 8px 8px 0 0;
  padding: 0;
}
.one {
  margin-left: 3rem;
}
.memory {
  display: block;
  text-align: left;
  padding-left: 2.5rem;
  margin-bottom: 5.5rem;
}
.metka {
  display: inline-block;
  padding-left: 2.5rem;
  width: 49%;
  text-align: left;
}
.knopka {
  display: inline-block;
  width: 49%;
  text-align: right;
}
a {
  color: #ffffff;
}
li.disabled {
  display: none;
}
.nav-tabs {
  border-bottom: 0;
}
